* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* insert proper font family later */
    font-family: sans-serif;
    overflow-x: hidden;
}

.banner {
    height: 7vh;
    width: 100%;
    background-color: #FFC0D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.nav-banner-item {
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.nav-banner-item:hover {
    color: #6DB9EF;
}

.nav-banner-item-txt {
    margin-left: 3px;
}

.nav {
    height: 15vh;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-Logo {
    position: relative;
    bottom: -10px;
    left: 5px;
    width: 7%;


}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    /*border-right: 1px solid black; */
    color: black;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.nav-list .nav-link:last-of-type {
    border-right: 1px none;
}

.nav-list .nav-link .nav-link-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-list .nav-link .nav-link-content .nav-link-content-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.nav-list .nav-link .nav-link-content .nav-link-content-img svg {
    color: #fff;
}

.nav-list .nav-link .nav-link-content.nav-link-content-home .nav-link-content-img {
    background-color: #F3797F;
}

.nav-list .nav-link .nav-link-content.nav-link-content-home .nav-link-content-txt {
    color: #F3797F;
}

.nav-list .nav-link .nav-link-content.nav-link-content-about .nav-link-content-img {
    background-color: #007bff;
}

.nav-list .nav-link .nav-link-content.nav-link-content-about .nav-link-content-txt {
    color: #007bff;
}

.nav-list .nav-link .nav-link-content.nav-link-content-services .nav-link-content-img {
    background-color: #f0c24b;
}

.nav-list .nav-link .nav-link-content.nav-link-content-services .nav-link-content-txt {
    color: #f0c24b;
}

.nav-list .nav-link .nav-link-content.nav-link-content-contact .nav-link-content-img {
    background-color: #B4d88b;
}

.nav-list .nav-link .nav-link-content.nav-link-content-contact .nav-link-content-txt {
    color: #B4d88b;
}

.nav-list .nav-link .nav-link-content.nav-link-content-blog .nav-link-content-img {
    background-color: #b675e5;
}

.nav-list .nav-link .nav-link-content.nav-link-content-blog .nav-link-content-txt {
    color: #b675e5;
}

.nav-list .nav-link .nav-link-content.nav-link-content-support .nav-link-content-img {
    background-color: #72aec9;
}

.nav-list .nav-link .nav-link-content.nav-link-content-support .nav-link-content-txt {
    color: #72aec9;
}

.nav-btn {
    padding: 0.5rem 1rem;
    background-color: #6DB9EF;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.nav-btn:hover {
    background-color: #FFC0D9;
    color: white;
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://wp04-media.cdn.ihealthspot.com/wp-content/uploads/sites/160/2022/03/iStock-1158514532.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: whitesmoke;
}

h1 {
    color: aliceblue;
}

.intr-o {
    color: aliceblue;
}

.intro button {
    background-color: #5edaf0;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.footer {
    background-color: #FFC0D9;
    width: 100%;
    padding: 20px 0px 0px;
}

.socialIcons {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 25%;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    transition: 0.5s;

}

.socialIcons a img {
    width: 100%;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #FFC0D9;
    transition: 0.5s;
}

.footerNav {
    padding: 0;
    margin: 30px 0;
    box-sizing: border-box;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.75;
    transition: 0.5s;
}

.footerNav ul li a:hover {
    opacity: 1.5;
}

.footerBottom {
    padding: 7px;
    margin: 0;
    box-sizing: border-box;
    background-color: #cc92a9;
    text-align: center;
    color: black;
}


#blog-hr {

    border: 1.7px solid darkgrey;
}



#Child {

    background-color: #b295c6;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #f4f4ff;
    font-size: 40px;
    font-weight: 400;
    width: 88%;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    position: relative;



}

#Vacc {

    background-color: #f0c24b;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #f4f4ff;
    font-size: 40px;
    font-weight: 400;
    width: 88%;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    position: relative;



}

#Parent {

    background-color: #f3797f;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #f4f4ff;
    font-size: 40px;
    font-weight: 400;
    width: 88%;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    position: relative;



}

#Other {

    background-color: #0194d3;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #f4f4ff;
    font-size: 40px;
    font-weight: 400;
    width: 88%;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    position: relative;



}

#res {

    position: relative;
    left: 80px;
    color: #0194d3;
    font-family: 'sans-serif';
    top: 17px;
}

.blog-container {

    text-align: center;
}



#Vacc:hover,
#Other:hover,
#Child:hover,
#Parent:hover {

    opacity: 0.9;
}


.Blog-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.containers {
    flex: 0 0 calc(30% - 40px);
    background-color: #FFFFFF;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    position: relative;

}

#Learn-More {

    color: #FFFFFF;
    border: none;
    background-color: plum;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    transition: all 3ms ease;
    font-size: 15px;



}

#Learn-More:hover {

    background-color: rgb(224, 120, 224);
}

ul {
    margin: 20px;
}

#test1 {

    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

#test2 {

    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}
#container-text {


}

